<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title | append: ' - ' |append: site.name }}</title>

	<link rel="shortcut icon" href="{{ '/styles/images/favicon.png' | prepend: site.baseurl }}">
	<link rel="icon" href="{{ '/styles/images/favicon.png' | prepend: site.baseurl }}">
	<link rel="shortcut icon" href="{{ '/styles/css/blog.css' | prepend: site.baseurl }}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ '/feed.xml' | prepend: site.baseurl }}">
	
	<meta name="keywords" content="{{ page.title | append: ', ' | append: site.name | append: ', ' | append: site.meta_description}}">
	<meta name="description" content="{{site.meta_description}}">

</head>